  <div class="dropdown py-1">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Theme
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#" (click)="changeTheme('bootstrap');">Default</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('cerulean');">Cerulean</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('cosmo');">Cosmo</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('cyborg');">Cyborg</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('darkly');">Darkly</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('flatly');">Flatly</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('journal');">Journal</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('litera');">Litera</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('lumen');">Lumen</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('lux');">Lux</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('materia');">Materia</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('minty');">Minty</a>
      <!--                <a class="dropdown-item" href="#" (click)="changeTheme('morph');">Morph</a>-->
      <a class="dropdown-item" href="#" (click)="changeTheme('pulse');">Pulse</a>
      <!--                <a class="dropdown-item" href="#" (click)="changeTheme('quartz');">Quartz</a>-->
      <a class="dropdown-item" href="#" (click)="changeTheme('sandstone');">Sandstone</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('simplex');">Simplex</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('sketchy');">Sketchy</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('slate');">Slate</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('solar');">Solar</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('spacelab');">Spacelab</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('superhero');">Superhero</a>
      <a class="dropdown-item" href="#" (click)="changeTheme('united');">United</a>
      <!--                <a class="dropdown-item" href="#" (click)="changeTheme('vapor');">Vapor</a>-->
      <a class="dropdown-item" href="#" (click)="changeTheme('yeti');">Yeti</a>
      <!--                <a class="dropdown-item" href="#" (click)="changeTheme('zephyr');">Zephyr</a>-->
    </div>
  </div>

<navbar></navbar>
<content theme="theme"></content>





